.btn-1{
    width: 60px;
    height: 60px;
    margin-top: 8px;
}
#calculator{
    width: 25%;
    margin-top: 1%;
    border-radius: 15px;
    border: 1px solid black;
}
#result {
    margin-top: 4%;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    color: black;
}
.input{
    border-style: none;
    color: black;
    background-color: white;
    text-align: right;
}
.mt{
    margin-top: 3%;
    border-radius: 15px;
    box-shadow: 13px 13px 13px rgba(24, 23, 23, 0.082);
}
.h1{
    text-shadow: 2px 2px 3px;
}
.link:hover{
    text-decoration: none;
}